body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  min-height: 100vh;

}

main {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  max-width: 100%;
}

/*Countries*/

.country-card img {
  max-width: 100%;
  height: 180px;
  object-fit: cover;
}

/*Recipes*/

.food-card {
  cursor: pointer;
  scale: 1;
  opacity: .8;
  transition: scale .3s ease-in, opacity .4s ease-out, color .5s ease-out;
}

.food-card:hover {
  scale: 1.02;
  opacity: 1;
  color: #fff;
}


img.food {
  outline: 3px solid rgb(13, 202, 240);
  outline-offset: -1.2rem;
}

.img-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-div button {
  position: absolute;
  bottom: .4rem;
  box-shadow: 2px 2px 5px rgb(33, 37, 41 );
  transition: bottom .3s ease-in-out;
}

.food-card:hover .img-div button {
  bottom: 20%;
  color: #fff;
}

.recipe-card p {
  text-align: justify;
}

.recipe-card {
  max-width: 800px;
  scale: 1;
  transition: scale .3s ease-out;
}

.recipe-card:hover {
  scale: 1.02;
}

.recipe-card img {
  max-width: 500px;
  margin-inline: auto;
  margin-block: 1rem;
  outline: 3px solid rgb(13, 202, 240);
  outline-offset: -1.2rem;
}

  /*----Dictionary------*/

  .dictionary-card h2, h3{
    text-align: start;
    text-transform: capitalize;
  }

  .dictionary-card li {
    text-align: start;
    list-style-image: -webkit-linear-gradient(#000, rgb(13, 202, 240));
  }

  .game-card img {
    width: 100%;
    max-width: 260px;
    height: 180px;
    object-fit: contain;
  }

  .game-card {
    position: relative;
  }

  .game-card button {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    translate: -50%;
  }

